@{
    Layout=null;
}
<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="generator" content="">
    <title>تکنولوژی هوشمند نیکا</title>

    <!-- manifest meta -->
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/img/favicon180.png" sizes="180x180">
    <link rel="icon" href="/img/favicon16.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/img/favicon16.png" sizes="16x16" type="image/png">

    <!-- Material icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

    <!-- swiper CSS -->
    <link href="/vendor/swiper/css/swiper.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" >
</head>

<body class="body-scroll d-flex flex-column h-100 menu-overlay" style="direction: rtl;text-align: right">
 
       
  

 <!-- screen loader -->
    <div class="container-fluid h-100 loader-display">
        <div class="row h-100">
            <div class="align-self-center col">
                <div class="logo-loading">
                    <div class="icon icon-100 mb-4 rounded-circle">
                         <img src="/img/fev.png" alt="" class="w-100">
                    </div>
                     <h4 class="text-default"> نیکاتک</h4>
                    <p class="text-secondary">تکنولوژی هوشمند نیکا</p>
                    <div class="loader-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Begin page content -->
    <main class="flex-shrink-0 main">
        <!-- Fixed navbar -->
        <header class="header">
            <div class="row">
                <div class="col-auto px-0">
                    <button class="menu-btn btn btn-40 btn-link back-btn" type="button">
                          <span class="material-icons">keyboard_arrow_right</span>
                    </button>
                </div>
                <div class="text-left col align-self-center">
                    <a class="navbar-brand" href="#">
                        <h5 class="mb-0">   پرداخت قبوض</h5>
                    </a>
                </div>
                <div class="ml-auto col-auto">
                    <a href="/home/profile" class="avatar avatar-30 shadow-sm rounded-circle ml-2">
                        <figure class="m-0 background">
                            <img src="/img/user1.png" alt="">
                        </figure>
                    </a>
                </div>
            </div>
        </header>

        <!-- page content start -->
        <div class="container mb-4 text-center text-white">
            <div class="row">
                <div class="col col-sm-8 col-md-6 col-lg-5 mx-auto">
                    <img src="/img/19.png" alt="" class="mw-100 mb-4">
                    <h5 style="text-align: center; font-size: 15px;">
                </div>
            </div>
        </div>
        <div class="main-container">
            <div class="container mb-4">
                <div class="card border-0 mb-3">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto pr-0">
                         
                                    <p> </p>
                              
                            </div>
                           <div class="col-auto align-self-center">
                                <h6 class="mb-1">   </h6>
                                <p style="font-size: 10px; text-align: center;"  class="small text-secondary"> در نیکاتک می‌توان از مبدا 30 بانک عضو شتاب به مقصد تمام بانک‌ها و موسسات مالی، کارت به کارت کرد.

بانک‌های مبدا پشتیبانی شده در همراه کارت عبارتند از:

بانک آینده، صادرات، ملی، ملت، کشاورزی، انصار، سرمایه، شهر، ایران زمین، پاسارگاد، دی، سامان، حکمت، پارسیان، تجارت، اقتصاد نوین، مهر اقتصاد، سپه، قوامین، گردشگری، سینا، موسسه اعتباری ملل (عسکریه)، خاورمیانه، موسسه اعتباری توسعه، توسعه تعاون، کارآفرین، موسسه اعتباری نور، توسعه صادرات، رفاه کارگران و پست بانک ایران،

کارت به کارت از طریق مخاطبین گوشی موبایل و اسکن کارت بانکی از خدمات ویژه  نیکاتک است. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mb-4">
                <div class="alert alert-success d-none" id="successmessage"> .</div>
              
                  
             
                  <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span   class="input-group-text" id="inputGroup-sizing-sm"> کارت مبدا</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Small" placeholder="0000-0000-0000-0000" aria-describedby="inputGroup-sizing-sm">
                                </div>
                                    <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span  class="input-group-text" id="inputGroup-sizing-sm"> کارت مقصد</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Small" placeholder="0000-0000-0000-0000" aria-describedby="inputGroup-sizing-sm">
                                </div>
                                    <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span  class="input-group-text" id="inputGroup-sizing-sm">  مبلغ</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Small" placeholder="مبلغ را وارد نمایید" aria-describedby="inputGroup-sizing-sm">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> توضیحات </span>
                                    </div>
                                    <textarea class="form-control" style="font-size: initial;" placeholder="توضیحات تراکنش" aria-label="With textarea"></textarea>
                                </div>
                </div>
                   <br>
                 
                  <br>
                      <button type="button" class="btn btn-dark btn-lg btn-block  rounded" style="font-size: initial;"> ادامه </button>
                    
           
                </div>
             
           
       
             
   
        
        </div>
    </main>


    <!-- Required jquery and libraries -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- cookie js -->
    <script src="/js/jquery.cookie.js"></script>

    <!-- Swiper slider  js-->
    <script src="/vendor/swiper/js/swiper.min.js"></script>

    <!-- Customized jquery file  -->
    <script src="/js/main.js"></script>
    <script src="/js/color-scheme-demo.js"></script>


    <!-- page level custom script -->    
    <script src="/js/app.js"></script>
    

</body>

</html>
